# 官方 mOTA bootloader_ymodem 示例（参考用，不入库）
STM32F407/

# 上传/缓存区
.uploads/

# CLion / IDE 临时文件
cmake-build-*/
cmake-build-*.*/
.build/
.cache/

# STM32 构建产物
*.bin
*.hex
*.elf
*.map
*.o
*.obj
*.d
*.dep
*.su

# Keil / CubeIDE 临时文件
*.uvguix.*
*.scvd
DebugConfig/
Objects/
Listings/

# OS
.DS_Store
Thumbs.db
desktop.ini
